/* Assets/css/layout.css */

body {
    background-color: #f8f9fa; /* Light gray background for all pages */
}

/* Make Bootstrap's default cards have a cleaner shadow */
.card {
    border: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Fix for login page to be centered */
.login-register-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}